body{
    background: linear-gradient(rgb(0, 0, 34), black);
    font-family: $poppins;
    color: white;

    .container_shoe{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        height: 25vh;     

        .container_shoe_left{
        margin-right: 20px;
        margin-left: 20px;

        h1{
            font-weight: bold;
            font-size: 1.4rem;
            span{

                color: rgb(42, 106, 224);
                
            }
        }
        button{

            height: 1.4rem;
            width: 2.8rem;
            font-size: 0.5rem;
            box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
            background-image: linear-gradient(to right, #0daff0, #0579a7,#0e56c2, #1010d1);
            border: none;
            border-radius: 6px;
            color: white;
            cursor: pointer;
        }
        }

        .container_shoe_right{
            position: relative;
            margin-right: 20px;
            h2{
                font-size: 3rem;
                z-index: -100;
                position: absolute;
                top: 35%;
                left: 10%;
                font-weight: bold;
                opacity: 0.1;
                color: white; 
                -webkit-text-stroke-width: 1px; 
                -webkit-text-stroke-color: black; 


            }
            img{
                height: 19vh;
                width: 19vh;


            }


        }
    }

    h3{
            margin-bottom: 20px;
            margin-left: 20px;
            font-size: 0.8rem;
            span{
                color: rgb(42, 106, 224);
            }
        }

    main{
            display: grid;
            justify-content: center;
            line-height: 2rem;

            h2{

                display: none;
            }

            .name-shoe-main{

                font-weight: bold;
                color: whitesmoke;
        
            }

            .price-shoe-main{


                font-style: italic;
            }

            button{

                height: 1.4rem;
                width: 3rem;
                font-size: 0.5rem;
                box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
                background-image: linear-gradient(to right, #0daff0, #0579a7,#0e56c2, #1010d1);
                border: none;
                border-radius: 6px;
                color: white;
                cursor: pointer;

            }
    }


    picture{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        img {
        width: 22vh;
        height: 22vh;
        margin-top: 25px;
        }
    
        h2 {
        font-size: 1rem;
        margin-top: 15px;

        span{
            color: rgb(42, 106, 224);
        }
        }
    
        quote {
        font-size: 0.4rem;
        margin-top: 0.3rem;
        margin-bottom: 0;
        margin-left: 55px;
        margin-right: 55px;
        opacity: 0.5;
        }
    }

    .reviews{

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    
        img{

            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            margin-left: 35px;
        }

        h3{

            display: flex;
            justify-content: center;
            margin-top: 5px;
            font-size: 0.3rem;
            margin-right: 20px;
        }

        p{

            display: flex;
            justify-content: center;
            font-size: 0.4rem;
            margin-left: 15px;
            margin-right: 15px;
            opacity: 0.4;
        }
        


    
}
}
