.body_cart{

    background-image: linear-gradient(rgb(0, 0, 34), black);
    font-family: $poppins;
    color: white;

    .Cart__Item{

        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .Cart__Item__Image{
        height: 8vh;
        width: 8vh;
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: 5px;
    }
    .Cart__Item__Product{
    margin-top: 45px;
    margin-left: 10px;
    font-size: 0.9rem;
    font-style: italic;
    }

    .Cart__Item__Price{
        margin-top: 45px;
        margin-left: 10px; 
        font-size: 0.9rem;
    }
    
    .Cart__Item__Substract{
        margin-top: 34px;
        margin-left: 10px;
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
        background-color: black;
        font-size: 1.8rem;
        border: none;
        border-radius: 6px;
        color: white;
        cursor: pointer;
    }

    .Cart__Item__Add{
        margin-top: 38px;
        margin-left: 10px;
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
        background-color: black;
        border: none;
        font-size: 1.5rem;
        border-radius: 6px;
        color: white;
        cursor: pointer;
    }

    .Cart__Item__Remove{

        display: grid;
        justify-content: center;
        position: absolute;
        right: 0;
        font-weight: bold;
        margin-top: 75px;
        margin-right: 35px;
        font-size: 0.6rem;
        height: 1.5rem;
        width: 3rem;
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
        background-color: red;
        border: none;
        border-radius: 6px;
        color: white;
        cursor: pointer;
}
.Cart__Item__Remove:hover{

    background-color: rgb(241, 7, 7);
}

.Cart__Item__Total{

    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 0.9rem;
    font-weight: bold;
}

.Cart__Confirm{
    position: absolute;
    right: 0;
    width: 4rem;
    height: 1.2rem;
    margin-top: 43px;
    margin-right: 20px;
    font-size: 0.7rem;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    background-color:rgb(65, 65, 240);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;

}

.Cart__Remove_All{

    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    width: 5rem;
    height: 1rem;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 0.7rem;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    background-color: red;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    

}
}